@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.shadow-overlay1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.8) 0%,
          rgba(0, 0, 0, .05) 60%,
          rgba(0, 0, 0, 0.8) 100%);
  pointer-events: none;
  /* To ensure the overlay doesn't interfere with clicks */
}
:root {
  --text-color: black;
  --rich-black: #0d1317;
  --bg-color: white;
  --primary-button: #24221f; 
  --secondary-button: #378334;
  --download-app-green: green;
  --carouseltext:white;
}

.dark {
  --text-color: #ffffff;
  --bg-color: #000000;
  --rich-black: #d1c6c6;
  --primary-button: #cccbc2;
  --secondary-button: #e50914;
  --download-app-green: red;
  
  --carouseltext:red;
}

/* text-[--text-color] */
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
}

.socials {
  position: fixed;
  bottom: 10%;
  right: 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.socials button {
  position: relative;
  right: -85px;
  transition: all 0.2s ease;
}

.socials button:hover {
  background-color: black;
}



/* Input range sliders inside interest caclulator */
/* globals.css */
.range-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: var(--secondary-button);
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}

.range-slider::-moz-range-thumb {
  background: var(--secondary-button);
  cursor: pointer;
  border-radius: 50%;
}
.socials1 {
  position: fixed;
  bottom: 20%;
  right: 0px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.socials1 button{
  position: relative;
  right: -85px;
  transition: all 0.2s ease;
}

.mortgagecalculator {box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
